.button {
    padding: 1rem 2rem;
    @include bg-color('fourth');
    @include color('third');
    border: 0;

    &:hover {

        opacity: 0.6;
        cursor: pointer;
        @include transition('opacity', 0.5s);
    }
}