.main-menu {
  width: 100%;
  position: relative;
  display: grid;
  grid-template-columns: 1fr 2fr 4fr;
  align-items: center;
  @include padding-y(2rem);
  @include bg-color('primary');
  z-index: 999;

  &-hamburger {

    margin-right: 2rem;
  }

  &-menu {

    display: none;

    .menu-link {

      @include color('second');
    }

    @include breakpoint-up('md') {
      display: flex;
    }

  }

  &-cart {

    display: flex;
    justify-self: end;

    &:hover {

      cursor: pointer;
    }
  }

  @include breakpoint-up('md') {
    display: flex;
    justify-content: space-between;
  }
  
}

.main-menu-cart .quantity {
  position: relative;
  top: -0.625rem;
  left: 0.4rem;
  display: inline-block;
  width: 1.5rem;
  height: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  @include color('second');
  @include bg-color('fourth');
  @include b-radius(50%);
}


// Vertical Menu //

.main-menu-container {
  position: relative;
}

.vertical-main-menu .categories {
  position: absolute;
  z-index: 99;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 1rem;
  @include horizontal-alignment;

  .category {

    margin-top: 0;
  }


  @include breakpoint-up('md') {
    display: none;
  }
}

