.model {

  @include b-radius(0.5rem);
}

.model-header {

  &-img {

    @include b-radius(0.5rem);
  }
}

.model-body {
  @include b-radius(0.5rem);
}

.model-body-content {

  &-heading {

    margin-bottom: 2rem;
  }

}

// MODEL FIRST

.model-first {
  position: relative;
  padding: 2rem;
  text-align: center;
  @include bg-color('fourth');
  @include color('second');

    &::before {

      content: '';
      position: absolute;
      width: 25rem;
      height: 25rem;
      border: 1px solid #fff;
      opacity: 0.3;
      @include xy-alignment;
      @include b-radius(50%);


      @include breakpoint-up('lg') {
        left: 25%;
      }
    }

    &::after {
      
      @extend ::before;
      width: 20rem;
      height: 20rem;
    }


    @include breakpoint-up('lg') {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      align-items: center;
      @include padding-y(6rem);
    }
}

.model-first .model-header {
  position: relative;
  z-index: 3;
 
  &-img {

    max-width: 70%;


    @include breakpoint-up('lg') {
      max-width: 100%;
    }
  }
}

.model-first .model-body {
  position: relative;
  z-index: 3;
}

.model-first .model-body-content {

  &-text {
    
    margin-bottom: 2rem;
  }

  &-btn {

    @include bg-color('primary');
  }

}

// MODEL SECOND

.model-second {
  width: 100%;
  position: relative;
}

.model-second .model-header {

  &-img {

    width: 100%;
    @include b-radius(0.5rem);
  }

}

.model-second .model-body {
  position: absolute;
  width: 100%;
  text-align: center;
  @include vertical-alignment;

  
  @include breakpoint-up('md') {
    text-align: left;
    padding-left: 5rem;
  }

}

.model-second .model-body-content {

  &-btn {

    background: none;
    @include color('primary');
    border: 1px solid;
    @include b-color('primary');
  }

}

// MODEL THIRD

.model-third {


  @include breakpoint-up('md') {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 2rem;
  }
}

.model-third .model-header {

  &-img {

    width: 100%;
  }
}

.model-third .model-body {
  width: 100%;
  text-align: left;
  padding-left: 1rem;
  @include padding-y(4rem);
  @include bg-color('third');
  margin-top: 2rem;

  &-content {

    
    @include breakpoint-up('md') {
      position: absolute;
      @include vertical-alignment;
    }
  }

  
  @include breakpoint-up('md') {
    position: relative;
    margin-top: 0;
    padding-left: 3rem;
  }

}

.model-third .model-body-content {

  &-btn {
    
    @include bg-color('primary');
    @include color('third');
  }
  
}

.model-fourth {
  

  @include breakpoint-up('lg') {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 2rem;
    align-items: center;
    justify-content: center;
  }
}

.model-fourth .model-header {
  width: 100%;
  margin-bottom: 2rem;
  text-align: center;

  &-img {

    width: 100%;

    @include breakpoint-up('md') {
      width: 100%;
    }
  }

}

.model-fourth .model-body-content {
  text-align: center;

  &-text {

    opacity: 0.7;
  }

  &-btn {

    margin-top: 2rem;
  }

}

