.description {
  

  @include breakpoint-up('md') {
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    column-gap: 2rem;
  }

  @include breakpoint-up('lg') {
    column-gap: 8rem;
  }

}

.description-img {
  width: 100%;
  @include b-radius(0.5rem);
}

.description-body {
  text-align: left;

  &-heading {

    margin: 2rem 0;
  }

  &-text {
    
    opacity: 0.7;
  }

  &-price {
    
    margin: 2rem 0;
  }

  &-btns {
    
    display: flex;
  }

}

.product-amount-btn {
  @include bg-color('third');
}

.product-amount-btn {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(3, 1fr);
  margin-right: 0.5rem;

  .btn-el {

    padding: 1rem;
    background: none;
    @include color('primary');
  }

  &:hover {
    
    cursor: pointer;
  }
}