.categories {
  width: 100%;
  display: grid;


  @include breakpoint-up('md') {
    grid-template-columns: repeat(3, 1fr);
    column-gap: 0.5rem;
    justify-content: center;
  }
}

.category {
  position: relative;
  padding-bottom: 2rem;
  text-align: center;

  &:not(:first-child) {

    margin-top: 5rem;


    @include breakpoint-up('md') {
      margin-top: 0;
    }

  }

  &::before {

    content: '';
    position: absolute;
    left: 0;
    top: 30%;
    z-index: -1;
    @include bg-color('third');
    @include b-radius(0.5rem);
    height: 80%;
    width: 100%;

  }

  &-img {

    max-width: 50%;

    @include breakpoint-up('md') {
      max-width: 70%;
    }

    @include breakpoint-up('lg') {
      max-width: 50%;
    }
  }

  &-body {

    width: 100%;
    position: absolute;
    bottom: 0;

    &-heading {
      
      @include breakpoint-down('md') {
        @include font-size('xxsm', $heading-sizes);
      }
    }

    &-link {

      margin-right: 0.5rem;
      @include color('primary');
      opacity: 0.5;


      @include breakpoint-down('md') {
        @include font-size('xsm', $par-sizes);
      }

    }
  }
}


