.header-primary {
  width: 100%;
  position: relative;
  top: -5rem;
  overflow: hidden;
}

.header-primary .header-content {
  width: 100%;
  position: absolute;
  @include vertical-alignment;


  @include breakpoint-up('lg') {
    width: 50%;
  }
}

.header-primary .header-background {
  width: 100%;
  top: 0;
  z-index: -999;
}

.header-primary .product-intro {

  &-heading {

    @include color('second');
  }

  &-text {
    
    @include color('second');
    opacity: 0.75;
  }


  @include breakpoint-up('lg') {
    text-align: left;
  }

}

.header-second {
  padding: 2rem 0;
  text-align: center;
  @include bg-color('primary');

  &-title {

    @include color('third');
  }


  @include breakpoint-up('md') {
    padding: 6rem 0;
  }

}
