.header {

}

.header-primary {
  width: 100%;
  position: relative;
  top: -5rem;
  overflow: hidden;
  z-index: -999;
}

.header-primary .header-content {
  width: 100%;
  position: absolute;
  @include vertical-alignment;
}

.header-primary .header-background {
  width: 100%;
  top: 0;
  z-index: -999;
}

.header-primary .product-intro {

  &-heading {

    @include color('second');
  }

  &-text {
    
    @include color('second');
    opacity: 0.75;
  }


  @include breakpoint-up('lg') {
    text-align: left;
  }

}
